* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.stop-scrolling1 {
  height: 100%;
  overflow: hidden;
}

@keyframes wind {
  0% {
    background-position: 0% 50%;
  }
  0% {
    background-position: 50% 100%;
  }
  0% {
    background-position: 0% 50%;
  }
}
.icon-1 {
  position: absolute;
  top: 0;
  width: 25px;
  transform-origin: 0 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
  animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
  transform: rotate(10deg);
}

@keyframes slay-1 {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.icon-2 {
  position: absolute;
  top: 0;
  width: 12px;
  transform-origin: 50% 0;
  transform: rotate(10deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}
.icon-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  transform-origin: 50% 0;
  transform: rotate(-5deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}
.cart-scroll {
  z-index: 999;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: url(/img/cart-white.svg) center center no-repeat rgba(95, 158, 160, 0.7);
  border-radius: 50px;
  width: 70px;
  height: 70px;
  background-size: 24px;
  overflow: hidden;
  opacity: 0;
  transition: all 2s ease 0s;
  animation: cc-calto-action-ripple 0.6s linear infinite;
  display: flex;
  justify-items: center;
  align-items: center;
  text-decoration: none;
}

@keyframes cc-calto-action-ripple {
  0% {
    box-shadow: 0 4px 10px rgb(223, 238, 250), 0 0 0 0 rgb(223, 238, 250), 0 0 0 5px rgba(223, 238, 250, 0.6), 0 0 0 10px rgba(223, 238, 250, 0.6);
  }
  100% {
    box-shadow: 0 4px 10px rgb(223, 238, 250), 0 0 0 5px rgba(223, 238, 250, 0.6), 0 0 0 10px rgba(223, 238, 250, 0.6), 0 0 0 20px rgba(223, 238, 250, 0);
  }
}
.vision {
  overflow: visible;
  opacity: 1;
  transition: 2s;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

p {
  font-family: "Montserrat", sans-serif;
}

.header-main {
  border-bottom: 1px solid black;
  opacity: 0.7;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-main .cta {
  position: relative;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  display: flex;
  align-items: center;
}
.header-main .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}
.header-main .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.header-main .cta:hover:before {
  width: 100%;
  background: #b1dae7;
}
.header-main .cta:hover svg {
  transform: translateX(0);
}
.header-main .cta:active {
  transform: scale(0.95);
}
.header-main_nav {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-main_nav__search {
  width: 18px;
  height: 17px;
}
.header-main_nav_cart {
  width: 23px;
  height: 22px;
}
.header-main__Logo {
  margin: 0 auto;
  position: absolute;
}
.header-nav {
  padding-top: 9px;
  padding-bottom: 4px;
  border-bottom: 1px solid #92BBBD;
  width: 738px;
  margin: 0 auto;
}
.header-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  list-style: none;
  font-size: 10px;
  cursor: pointer;
}
.header-nav ul li {
  opacity: 0.4;
}
.header-nav ul li:hover {
  color: #92BBBD;
  opacity: 1;
}

.swiper {
  margin-top: 22px;
  width: 1200px;
  height: 510px;
  border-radius: 8px;
  background: rgba(146, 187, 189, 0.2);
  box-shadow: inset 0px 0px 9px 2px inset 0px 0px 9px 2px rgba(146, 187, 189, 0.5);
}
.swiper-slide {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
}
.swiper-slide__img {
  width: 535 px;
}
.swiper-slide__text-h1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 425px;
  font-size: 27px;
  margin-top: 7px;
  margin-bottom: 25px;
}
.swiper .sw2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 463px !important;
  font-size: 25px;
  margin-top: 7px;
  margin-bottom: 25px;
}
.swiper-slide__text-h3 {
  font-size: 14px;
  opacity: 0.6;
}
.swiper .cta {
  position: relative;
  padding: 11px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  display: flex;
  align-items: center;
}
.swiper .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: pink;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}
.swiper .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.swiper .cta:hover:before {
  width: 100%;
  background: pink;
}
.swiper .cta:hover svg {
  transform: translateX(0);
}
.swiper .cta:active {
  transform: scale(0.95);
}

.about-container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 670px;
}
.about-text h3 {
  font-size: 11px;
}
.about-text h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}
.about-text p {
  font-size: 17px;
  margin: 1.5px;
}
.about-text__cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
  margin-top: 25px;
}
.about-text__card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
  background: rgba(146, 187, 188, 0.2);
  padding: 35px;
  border-radius: 5px;
  height: 120px;
}
.about-text__card #h2-a1 {
  width: 125px;
}
.about-text__card #h2-a2 {
  width: 135px;
}
.about-text__card #h2-a3 {
  width: 150px;
}
.about-text__card h2 {
  font-size: 13px;
  color: #047f85;
}
.about-text__card img {
  width: 33px;
  height: 33px;
}

.katalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  width: 1200px;
}
.katalog-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.katalog-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}
.katalog-text h1 {
  font-size: 24px;
  margin-bottom: 6px;
}
.katalog-text .katalog-borderB {
  border-bottom: 1px solid #92BBBD;
  width: 1200px;
}
.katalog-block {
  width: 1200px;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 25px;
  background: rgba(146, 187, 188, 0.3);
  margin-top: 20px;
  border-radius: 3px;
}
.katalog-block-nav {
  display: flex;
  margin: 0 auto;
}
.katalog-block-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.katalog-block-nav ul li {
  color: #18272F;
  text-decoration: none;
  position: relative;
  font-size: 9.5px;
  opacity: 0.8;
}
.katalog-block-nav ul li:hover {
  opacity: 1;
}
.katalog-block-nav ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #92BBBD;
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.katalog-block-nav ul li:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.katalog-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  height: 1235px;
  background: rgba(146, 187, 188, 0.1);
  margin-top: 10px;
  gap: 30px;
  justify-content: center;
  align-content: center;
}
.katalog-cards .katalog-card {
  position: relative;
  width: 266px;
  display: flex;
  padding-top: 8px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 4px 1px rgba(95, 158, 160, 0.8);
}
.katalog-cards .katalog-card__img {
  width: 250px;
  height: 250px;
}
.katalog-cards .katalog-card__text {
  width: 230px;
}
.katalog-cards .katalog-card__text-stars {
  margin-top: 2px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.katalog-cards .katalog-card__text-stars img {
  width: 12.5px;
}
.katalog-cards .katalog-card__text-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 14px;
}
.katalog-cards .katalog-card__text-button {
  background: url(/img/cart-white.svg) center center no-repeat cadetblue;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 12px;
  transition: 0.7s;
}
.katalog-cards .katalog-card__text-button:hover {
  transition: 0.7s;
  background: url(/img/cart-white.svg) center center no-repeat cadetblue;
  border-bottom-right-radius: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  cursor: pointer;
}
.katalog-cards .katalog-card_out {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.katalog-cards .katalog-card ul {
  margin-left: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.katalog-cards .katalog-card li {
  position: relative;
}
.katalog-cards .katalog-card li::after {
  content: "";
  background: url(/img/Check.png) no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -20px;
  top: -7%;
}
.katalog-cards .katalog-card h1 {
  font-size: 14px;
  margin-top: 4px;
}
.katalog-cards .katalog-card h1 span {
  color: cadetblue;
}
.katalog-cards .katalog-card h2 {
  font-size: 12.8px;
  opacity: 0.9;
  margin-top: 10px;
  margin-bottom: 35px;
  font-weight: bold;
}
.katalog-cards .katalog-card:hover {
  transition: 0.4s;
  position: relative;
  width: 266px;
  display: flex;
  padding-top: 8px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 5px 3px rgba(95, 158, 160, 0.8);
}
.katalog-cards .katalog-card:hover .katalog-card__text-button {
  transition: 0.5s;
  background: url(/img/cart-white.svg) center center no-repeat cadetblue;
  border-bottom-right-radius: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  cursor: pointer;
}
.katalog-cards .katalog-card:hover__img {
  width: 250px;
  height: 250px;
}
.katalog-cards .katalog-card:hover__text {
  width: 230px;
}
.katalog-cards .katalog-card:hover__text-stars {
  margin-top: 2px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.katalog-cards .katalog-card:hover__text-stars img {
  width: 12.5px;
}
.katalog-cards .katalog-card:hover__text-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 14px;
}
.katalog-cards .katalog-card:hover__text-button {
  background: url(/img/cart-white.svg) center center no-repeat cadetblue;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 12px;
  transition: 0.7s;
}
.katalog-cards .katalog-card:hover__text-button:hover {
  transition: 0.7s;
  background: url(/img/cart-white.svg) center center no-repeat cadetblue;
  border-bottom-right-radius: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  cursor: pointer;
}
.katalog-cards .katalog-card:hover_out {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.katalog-cards .katalog-card:hover ul {
  margin-left: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.katalog-cards .katalog-card:hover li {
  position: relative;
}
.katalog-cards .katalog-card:hover li::after {
  content: "";
  background: url(/img/Check.png) no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -20px;
  top: -7%;
}
.katalog-cards .katalog-card:hover h1 {
  font-size: 14px;
  margin-top: 4px;
}
.katalog-cards .katalog-card:hover h1 span {
  color: cadetblue;
}
.katalog-cards .katalog-card:hover h2 {
  font-size: 12.8px;
  opacity: 0.9;
  margin-top: 10px;
  margin-bottom: 35px;
  font-weight: bold;
}

.order {
  color: #fff;
}
.order-block {
  animation: wind 2s ease-in-out infinite;
  position: relative;
  width: 850px;
  height: 300px;
  background-color: rgba(146, 187, 188, 0.6);
  border-radius: 6px;
  margin: auto;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.order-block h1 {
  font-size: 30px;
}
.order-block h3 {
  margin-top: 1px;
  margin-bottom: 30px;
  color: #000;
  font-size: 18px;
}
.order-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}
.order-block__button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}
.order-block__button svg path {
  transition: 400ms;
}
.order-block__button:hover {
  background-color: transparent;
  transition: 1.5s;
}
.order-block__button:hover .text {
  color: #181717;
}
.order-block__button:hover svg path {
  fill: #181717;
}

.feadback {
  margin-top: 70px;
}
.feadback-blocks {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: auto;
  justify-content: center;
}
.feadback .b1 {
  background: aliceblue;
  width: 300px;
  padding: 15px;
}
.feadback .b2 {
  background: #dfeefa;
  width: 325px;
  padding: 15px;
}
.feadback .b3 {
  background: #cbdceb;
  width: 300px;
  padding: 15px;
}
.feadback .b4 {
  background: #b1cbe2;
  width: 450px;
  padding: 15px;
}
.feadback .text-b4 {
  width: 360px;
}
.feadback .b5 {
  background: #a2bfd9;
  width: 475px;
  padding: 15px;
}
.feadback .text-b5 {
  width: 360px;
}
.feadback .b6 {
  background: aliceblue;
  width: 300px;
  padding: 15px;
}
.feadback-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feadback-block img {
  border-radius: 50%;
  width: 75px;
}
.feadback-block h1 {
  font-size: 18px;
}
.feadback-block p {
  font-size: 14px;
  margin-top: 4px;
}

.FAQ .FAQ-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}
.FAQ .FAQ-blocks-lr {
  position: relative;
  margin: 5px;
}
.FAQ .FAQ-blocks-lr .FAQ-block-acc {
  overflow: hidden;
  opacity: 0;
  transition: 1.3s;
  position: absolute;
}
.FAQ .FAQ-blocks-lr .act {
  overflow: visible;
  opacity: 1;
  transition: 1.3s;
  position: relative;
}
.FAQ .FAQ-blocks-lr .FAQ-block__text {
  background: #dfeefa;
  padding: 20px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.FAQ .FAQ-blocks-lr .FAQ-block__text-h2 {
  font-size: 18px;
}
.FAQ .FAQ-blocks-lr .FAQ-block__text-img {
  background: url(/img/CaretRight.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}
.FAQ .FAQ-blocks-lr .FAQ-block-acc {
  width: 500px;
  background: rgba(240, 248, 255, 0.4196078431);
  padding: 15px;
  padding-left: 10px;
  font-size: 14px;
}
.FAQ .FAQ-blocks-lr .FAQ-block-acc ul {
  background: rgba(240, 248, 255, 0.4196078431);
  padding: 0px;
  padding-left: 25px;
  font-size: 14px;
  display: flex;
}
.FAQ .FAQ-blocks-lr .FAQ-block-acc ul li {
  position: relative;
  list-style: none;
}
.FAQ .FAQ-blocks-lr .FAQ-block-acc ul li::before {
  content: "";
  background: url(/img/check.svg);
  position: absolute;
  left: -28px;
  top: -8px;
  width: 18px;
  height: 21px;
}
.FAQ .FAQ-blocks-r {
  position: relative;
  margin: 5px;
}
.FAQ .FAQ-blocks-r .FAQ-block2-acc2 {
  overflow: hidden;
  opacity: 0;
  transition: 1.3s;
  position: absolute;
}
.FAQ .FAQ-blocks-r .act2 {
  overflow: visible;
  opacity: 1;
  transition: 1.3s;
  position: relative;
}
.FAQ .FAQ-blocks-r .FAQ-block2__text2 {
  background: #dfeefa;
  padding: 20px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.FAQ .FAQ-blocks-r .FAQ-block2__text2-h22 {
  font-size: 18px;
}
.FAQ .FAQ-blocks-r .FAQ-block2__text2-img2 {
  background: url(/img/CaretRight.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}
.FAQ .FAQ-blocks-r .FAQ-block2-acc2 {
  width: 500px;
  background: rgba(240, 248, 255, 0.4196078431);
  padding: 15px;
  padding-left: 10px;
  font-size: 14px;
}
.FAQ .FAQ-blocks-r .FAQ-block2-acc2 ul {
  background: rgba(240, 248, 255, 0.4196078431);
  padding: 0px;
  padding-left: 25px;
  font-size: 14px;
  display: flex;
}
.FAQ .FAQ-blocks-r .FAQ-block2-acc2 ul li {
  position: relative;
  list-style: none;
}
.FAQ .FAQ-blocks-r .FAQ-block2-acc2 ul li::before {
  content: "";
  background: url(/img/check.svg);
  position: absolute;
  left: -28px;
  top: -8px;
  width: 18px;
  height: 21px;
}
.FAQ .actImg2,
.FAQ .actImg {
  background: url(/img/CaretDown.svg) no-repeat !important;
  transition: 0.3s;
  height: 11px !important;
  width: 18px !important;
}
.FAQ .FAQ-block-acc {
  overflow: hidden;
  opacity: 0;
  transition: 1.5s;
  position: absolute;
}
.FAQ .act {
  overflow: visible;
  opacity: 1;
  transition: 1.5s;
  position: relative;
}

.footer {
  margin-top: 300px;
  position: relative;
}
.footer-main {
  width: 100%;
  height: 450px;
  background-color: #b1cbe2;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
}
.footer .iframe {
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
  width: 700px;
  height: 300px;
  margin: 0 auto;
}
.footer-blocks {
  padding-top: 220px;
  padding-left: 90px;
  display: flex;
  gap: 90px;
}
.footer-block h3 {
  width: 316px;
  font-size: 14px;
  color: #fff;
  margin-bottom: 11px;
  margin-top: 5px;
}
.footer-block_img {
  height: 34px;
}
.footer-block_imgs {
  display: flex;
}
.footer g {
  fill: white;
}
.footer .footer-g {
  fill: #056695;
}
.footer img {
  width: 25px;
}
.footer-block1 {
  color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-block1 h2 {
  margin-bottom: 8px;
  font-size: 20px;
}
.footer-block1 nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.8px;
}
.footer-block1 nav ul li {
  list-style: none;
  font-size: 13.8px;
  cursor: pointer;
}
.footer-line {
  border-right: 0;
  border-style: dotted;
  border-color: rgba(0, 0, 0, 0.5882352941);
  height: 164px;
  position: relative;
  top: -14px;
}
.footer input[type=email] {
  background: none;
  border: none;
}
.footer input[type=email]::placeholder {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
}
.footer-text h2 {
  color: #fff;
  font-size: 17.9px;
  margin-bottom: 20px;
}
.footer-text__block {
  display: flex;
  justify-content: space-between;
  width: 220px;
  height: 20px;
}
.footer-text__border {
  border: 1px solid rgba(126, 126, 126, 0.4);
  margin-top: 5px;
}
.footer-text-contact {
  margin-top: 20px;
}
.footer-text-contact nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.footer-text-contact nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.popup {
  display: none;
  /* Optional: Animation on focus */
}
.popup-screen {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12121212;
}
.popup-block {
  width: 800px;
  height: 500px;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.popup-block__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.popup-block__navigation {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-block__navigation__4 {
  margin-left: 360px;
  margin-right: 23px;
}
.popup-block__navigation h3 {
  font-size: 16px;
}
.popup__cart {
  margin-top: 8px;
  padding-left: 27px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup__cart img {
  width: 70px;
  height: 70px;
}
.popup__cart h3 {
  font-size: 15px;
}
.popup__cart .cost {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: navajowhite;
  outline: none;
  font-size: 14px;
  width: 75px;
}
.popup__cart p {
  margin-left: 25px;
  margin-right: 25px;
}
.popup__cart-quintly {
  margin-left: 32px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.popup__cart-quintly_number {
  padding: 3px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: navajowhite;
  outline: none;
  font-size: 14px;
  width: 17px;
}
.popup__cart-quintly .plus,
.popup__cart-quintly .minus {
  width: 32px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.popup__form-block2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 240px);
  justify-content: center;
  position: absolute;
  bottom: 53px;
  left: 50%;
  right: 50%;
}
.popup .shop-input {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: navajowhite;
  outline: none;
  font-size: 14px;
}
.popup .input-container {
  margin-bottom: 7px;
  position: relative;
  width: 230px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.popup .input-container__item {
  background: aliceblue;
  width: 115px;
  padding: 14px;
}
.popup .input-container__item h3 {
  font-size: 10px;
}
.popup .input-container__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.popup .mkli {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 0.6em 1em;
  border: none;
  border-radius: 6px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 350px;
  color: #333;
  position: relative;
}
.popup .mkli label {
  font-size: 13px;
  width: 128px;
  font-family: "Montserrat", sans-serif;
}
.popup .input {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding: 1.2em 1em;
  border: none;
  border-radius: 2px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 230px;
  max-width: 230px;
  color: #333;
  position: relative;
}
.popup .input1 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding: 0em 0.4em;
  border: none;
  border-radius: 2px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 350px;
  color: #333;
  position: relative;
}
.popup .input1:focus {
  outline: none;
}
.popup .req {
  background: #c1dbf2;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  padding: 15px;
  margin-top: 7px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 715px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50.8%, 48%);
}
.popup .req:hover {
  background: #cdd9e4;
}
.popup .input:hover {
  background-color: #f2f2f2;
}
.popup .input:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.popup .input::placeholder {
  color: #333;
}
.popup .highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #6c63ff;
  transition: width 0.3s ease;
}
.popup .input:focus + .highlight {
  width: 100%;
}
@keyframes input-focus {
  from {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  }
  to {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
.popup .input:focus {
  animation: input-focus 0.3s ease;
}

.popup1 {
  display: none;
}
.popup1-screen {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12121212;
}
.popup1-block {
  width: 800px;
  height: 430px;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  /* Optional: Animation on focus */
}
.popup1-block__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.popup1-block__navigation {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup1-block__navigation__4 {
  margin-left: 360px;
  margin-right: 23px;
}
.popup1-block__navigation h3 {
  font-size: 16px;
}
.popup1-block__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.popup1-block .input-container {
  margin-bottom: 7px;
  position: relative;
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.popup1-block .input-container__item {
  background: aliceblue;
  width: 115px;
  padding: 14px;
}
.popup1-block .input-container__item h3 {
  font-size: 10px;
}
.popup1-block .input-container__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.popup1-block .mkli {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 0.6em 1em;
  border: none;
  border-radius: 6px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 350px;
  color: #333;
  position: relative;
}
.popup1-block .mkli label {
  font-size: 13px;
  width: 128px;
  font-family: "Montserrat", sans-serif;
}
.popup1-block .input {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding: 1.2em 1em;
  border: none;
  border-radius: 2px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 350px;
  max-width: 350px;
  color: #333;
  position: relative;
}
.popup1-block .input1 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding: 0em 0.4em;
  border: none;
  border-radius: 2px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 350px;
  color: #333;
  position: relative;
}
.popup1-block .input1:focus {
  outline: none;
}
.popup1-block .req {
  background: #c1dbf2;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  padding: 15px;
  margin-top: 7px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 350px;
  cursor: pointer;
}
.popup1-block .req:hover {
  background: #cdd9e4;
}
.popup1-block .input:hover {
  background-color: #f2f2f2;
}
.popup1-block .input:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.popup1-block .input::placeholder {
  color: #333;
}
.popup1-block .highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #6c63ff;
  transition: width 0.3s ease;
}
.popup1-block .input:focus + .highlight {
  width: 100%;
}
@keyframes input-focus {
  from {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  }
  to {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
.popup1-block .input:focus {
  animation: input-focus 0.3s ease;
}
.popup1__form {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 15px;
}
.popup1__form-block1, .popup1__form-block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.popup1__form-block1-qst, .popup1__form-block2-qst {
  display: flex;
  font-size: 7.8px;
  line-height: 8.5px;
  align-items: center;
  gap: 7px;
  width: 222px;
  position: absolute;
  left: 0;
  bottom: -25px;
}
.popup1__form-block1-qst img, .popup1__form-block2-qst img {
  width: 18px;
}
.popup1 .input-container__menu {
  align-items: center;
  gap: 2px;
  margin-bottom: 2px;
  display: none;
  grid-template-columns: repeat(3, 115px);
}
.popup1 .input-active {
  display: grid;
}
.popup1 .counter-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  right: 30px;
  top: 9px;
}
.popup1 .counter-elem__arrow img {
  width: 7px;
}
.popup1 .input::-ms-value {
  color: #056695;
}

@media (min-width: 375px) and (max-width: 425px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  .header-nav {
    display: none;
  }
  .header-main {
    border-bottom: 1px solid black;
    opacity: 0.7;
    width: 100%;
    padding: 6px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header-main__Logo {
    margin: 0 auto;
    position: relative;
  }
  .header-main_nav {
    display: none;
  }
  .header-main .cta {
    display: none;
  }
  .swiper {
    margin-top: 22px;
    width: 375px;
    height: 510px;
    border-radius: 8px;
    background: rgba(146, 187, 189, 0.2);
  }
  .swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .swiper-slide__img {
    width: 290px;
  }
  .swiper .cta {
    position: relative;
    padding: 11px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .swiper-slide__text-h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 326px;
    font-size: 21px;
    margin-top: 7px;
    margin-bottom: 25px;
    font-weight: 500;
    text-align: center;
  }
  .swiper-slide__text-h3 {
    font-size: 14px;
    opacity: 0.6;
    width: 118px;
    margin: 0 auto;
  }
  .swiper .sw2 {
    font-size: 17px;
    width: 326px !important;
  }
  .about-container {
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .about-text__cards {
    display: flex;
    justify-content: space-evenly;
    gap: 11px;
    margin-top: 25px;
    flex-direction: column;
    position: relative;
    margin-left: 48.5px;
  }
  .about-text__card {
    width: 278px;
  }
  .about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 670px;
    padding-top: 30px;
  }
  .about-img {
    display: none;
  }
  .about-text p {
    font-size: 15px;
    margin: 2px;
    width: 351px;
    margin-left: 18px;
  }
  .about-text_header {
    margin-left: 18px;
  }
  .katalog-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    margin-left: auto;
    margin-top: 56px;
  }
  .katalog-cards {
    width: 375px;
    height: auto;
    background: rgba(146, 187, 188, 0.1);
    margin-top: 10px;
    gap: 30px;
    justify-content: center;
    align-content: flex-start;
    display: grid;
    grid-template-columns: repeat(1, 266px);
    padding: 27px;
    justify-items: center;
  }
  .katalog-text .katalog-borderB {
    border-bottom: 1px solid #92BBBD;
    width: 100%;
  }
  .katalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    width: auto;
  }
  .order-block {
    animation: wind 2s ease-in-out infinite;
    position: relative;
    width: 371px;
    height: 360px;
    background-color: rgba(146, 187, 188, 0.6);
    border-radius: 6px;
    margin: auto;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .order-block h1 {
    font-size: 23px;
  }
  .feadback-blocks {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: auto;
  }
  .feadback .b5 {
    background: #a2bfd9;
    width: 370px;
    padding: 15px;
  }
  .feadback .b4 {
    background: #b1cbe2;
    width: 370px;
    padding: 15px;
  }
  .feadback .b3 {
    background: #cbdceb;
    width: 370px;
    padding: 15px;
  }
  .feadback .b2 {
    background: #dfeefa;
    width: 370px;
    padding: 15px;
  }
  .feadback .b1 {
    background: aliceblue;
    width: 370px;
    padding: 15px;
  }
  .FAQ .FAQ-blocks-r .FAQ-block2-acc2 {
    width: 375px;
    background: rgba(240, 248, 255, 0.4196078431);
    padding: 15px;
    padding-left: 10px;
    font-size: 14px;
  }
  .FAQ .FAQ-blocks-r .FAQ-block2__text2 {
    background: #dfeefa;
    padding: 20px;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .FAQ .FAQ-blocks-lr .FAQ-block-acc {
    width: 375px;
    background: rgba(240, 248, 255, 0.4196078431);
    padding: 15px;
    padding-left: 10px;
    font-size: 14px;
  }
  .FAQ .FAQ-blocks-lr .FAQ-block__text {
    background: #dfeefa;
    padding: 20px;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .FAQ .FAQ-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    flex-direction: column;
  }
  .footer .iframe {
    position: absolute;
    top: -25%;
    left: 0;
    right: 0;
    width: 375px;
    height: 300px;
    margin: 0 auto;
  }
  .footer-main {
    width: 100%;
    height: auto;
    background-color: #b1cbe2;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
  }
  .footer-blocks {
    padding-top: 130px;
    padding-left: 50px;
    display: flex;
    gap: 60px;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .footer-text-contact nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .footer-line {
    border-right: 0;
    border-style: none;
    border-color: rgba(0, 0, 0, 0.5882352941);
    border-top-color: rgba(0, 0, 0, 0.59);
    border-right-color: rgba(0, 0, 0, 0.59);
    border-bottom-color: rgba(0, 0, 0, 0.59);
    border-left-color: rgba(0, 0, 0, 0.59);
    height: auto;
    border-bottom: 3px dotted rgba(0, 0, 0, 0.5882352941);
    width: 100%;
  }
  .katalog-text h1 {
    font-size: 24px;
    margin-bottom: 6px;
    margin-left: 15px;
  }
}