    <footer>
        <div class="footer">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2575.6298253903606!2d24.009262875643255!3d49.79302583448262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae7ce8cc2a3f1%3A0xe086cb6d274cce7e!2z0LLRg9C70LjRhtGPINCT0LXRgNC-0ZfQsiDQnNCw0LnQtNCw0L3Rgywg0KHQvtC60ZbQu9GM0L3QuNC60LgsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1suk!2sua!4v1690617893587!5m2!1suk!2sua"
                class="iframe" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="footer-main">
                <div class="footer-blocks">
                    <div class="footer-block">
                        <svg style="width: 90px;
                        height: 50px;" version="1.0" xmlns="http://www.w3.org/2000/svg" width="353.000000pt"
                            height="199.000000pt" viewBox="0 0 353.000000 199.000000"
                            preserveAspectRatio="xMidYMid meet">

                            <g transform="translate(0.000000,199.000000) scale(0.100000,-0.100000)" fill="#000000"
                                stroke="none">
                                <path d="M1375 1740 l-189 -189 184 -186 c101 -102 191 -185 200 -185 8 0 56
41 105 90 49 50 94 90 100 90 6 0 51 -40 100 -90 49 -49 97 -90 105 -90 9 0
99 83 200 185 l184 186 -189 189 c-105 105 -194 190 -200 190 -6 0 -53 -43
-105 -95 l-95 -95 -95 95 c-52 52 -100 95 -105 95 -6 0 -95 -85 -200 -190z
m308 -92 l-56 -57 -41 29 c-54 38 -85 45 -129 27 -69 -30 -86 -117 -31 -168
37 -34 97 -33 153 4 l42 28 59 -53 60 -53 -85 -85 -85 -85 -157 158 -158 157
160 160 160 160 82 -82 83 -82 -57 -58z m455 -255 l-158 -158 -85 85 -85 84
55 53 c30 29 57 53 60 53 3 0 24 -12 47 -27 106 -70 227 12 173 117 -34 65
-120 72 -190 15 l-30 -25 -57 57 -58 57 82 83 83 83 160 -160 160 -160 -157
-157z m-278 125 c-19 -17 -47 -42 -61 -55 l-27 -24 -58 55 -58 56 59 60 60 60
60 -60 60 -60 -35 -32z m-298 59 c31 -23 26 -37 -23 -63 -38 -19 -63 -18 -84
6 -35 39 7 98 60 83 11 -3 32 -15 47 -26z m528 13 c24 -24 25 -47 3 -72 -19
-22 -44 -23 -82 -4 -55 29 -56 42 -9 70 52 31 62 32 88 6z" />
                                <path d="M1332 988 c3 -39 6 -43 33 -48 l30 -5 0 -295 0 -295 -30 -5 c-27 -5
-30 -9 -33 -48 l-3 -42 130 0 131 0 0 45 c0 43 -1 45 -30 45 l-30 0 0 65 c0
62 1 65 24 65 13 0 31 2 38 5 10 4 33 -29 77 -110 l62 -115 80 0 79 0 0 45 c0
44 -1 45 -32 45 -31 0 -36 6 -85 95 l-53 95 35 46 c20 26 41 66 47 90 10 35
17 44 37 46 22 3 26 9 29 42 2 21 -1 42 -6 45 -6 3 -58 5 -116 3 l-106 -3 0
-40 c0 -35 3 -39 25 -39 85 0 -5 -136 -103 -156 l-32 -6 0 236 0 236 -101 0
-100 0 3 -42z" />
                                <path d="M50 935 c0 -43 1 -45 30 -45 l30 0 0 -269 0 -269 -30 -7 c-28 -6 -30
-10 -30 -51 l0 -44 167 0 c208 0 280 12 336 54 60 46 81 87 81 162 0 76 -32
132 -91 160 l-38 18 41 42 c23 23 45 56 49 74 12 53 -3 117 -36 155 -49 55
-95 65 -316 65 l-193 0 0 -45z m391 -84 c28 -34 26 -101 -4 -129 -29 -28 -77
-42 -139 -42 l-48 0 0 101 0 101 86 -3 c76 -4 88 -7 105 -28z m-1 -286 c37
-19 50 -43 50 -95 0 -81 -38 -108 -160 -115 l-80 -5 0 121 0 120 80 -5 c44 -3
93 -12 110 -21z" />
                                <path d="M897 806 c-66 -24 -111 -61 -142 -117 -29 -52 -30 -59 -30 -180 0
-122 1 -127 30 -175 40 -65 88 -89 177 -89 59 0 72 4 112 32 l46 33 0 -30 0
-30 85 0 85 0 0 45 c0 37 -3 45 -18 45 -39 0 -42 16 -42 236 l0 212 -69 16
c-85 19 -183 20 -234 2z m166 -93 c4 -2 7 -76 7 -164 0 -160 0 -160 -26 -184
-34 -32 -90 -42 -122 -24 -48 27 -65 63 -70 146 -7 127 30 211 101 232 29 8
90 5 110 -6z" />
                                <path d="M2140 811 c-115 -35 -179 -129 -188 -272 -12 -203 89 -309 282 -297
60 4 138 30 165 54 6 6 -31 84 -39 84 -4 0 -27 -9 -51 -20 -84 -38 -174 -18
-203 45 -27 55 -23 62 46 69 125 15 199 53 229 120 55 121 -21 227 -161 225
-30 0 -66 -4 -80 -8z m128 -108 c43 -59 -22 -122 -142 -138 l-49 -6 7 33 c11
55 41 102 77 121 39 20 87 16 107 -10z" />
                                <path d="M2745 806 c-17 -7 -43 -28 -58 -45 l-27 -33 0 36 0 36 -96 0 -95 0 3
-42 c3 -39 5 -43 33 -46 16 -2 33 -9 37 -15 12 -18 9 -316 -2 -338 -6 -11 -21
-19 -35 -19 -23 0 -25 -4 -25 -45 l0 -45 145 0 145 0 0 45 0 45 -46 0 -45 0 3
160 c3 148 5 161 25 181 15 16 35 22 65 23 43 1 43 1 46 -36 l3 -38 50 0 49 0
0 83 c0 80 -1 84 -25 95 -34 16 -112 14 -150 -2z" />
                                <path d="M2980 756 c0 -41 2 -45 28 -48 l27 -3 6 -161 c4 -134 8 -166 25 -194
33 -58 67 -75 142 -75 69 1 115 17 160 58 l22 20 0 -69 c0 -138 -75 -199 -202
-163 -36 9 -38 12 -38 50 l0 40 -52 -3 -53 -3 -3 -76 -3 -77 33 -12 c58 -22
228 -25 286 -6 60 20 116 76 131 133 7 23 11 157 11 336 l0 297 -96 0 -95 0 3
-42 c3 -39 6 -43 31 -46 l27 -3 0 -135 c0 -132 0 -134 -27 -164 -40 -44 -99
-51 -139 -17 l-29 25 -3 191 -4 191 -94 0 -94 0 0 -44z" />
                            </g>
                        </svg>
                        <h3>Торт Львів Мусовий торт Сокільники.
                            Завжди у наявності мусові тістечка</h3>
                        <div class="footer-block_imgs">
                            <a href="#">
                                <svg class="footer-block_img" version="1.0" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet">

                                    <g class="footer-g"
                                        transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)"
                                        fill="#000000" stroke="none">
                                        <path d="M245 631 c-92 -24 -173 -90 -215 -176 -33 -69 -34 -199 -2 -265 35
                                        -71 75 -114 144 -151 58 -31 70 -34 148 -33 72 0 93 4 136 26 75 40 107 70
                                        145 140 31 58 34 70 34 148 0 78 -3 90 -34 148 -57 104 -144 160 -260 167 -36
                                        2 -79 1 -96 -4z m188 -162 c37 -17 47 -50 47 -155 0 -92 -1 -97 -29 -125 -28
                                        -28 -33 -29 -125 -29 -150 0 -166 15 -166 160 0 97 10 132 44 148 29 14 199
                                        15 229 1z" />
                                        <path d="M207 432 c-26 -28 -24 -202 1 -225 28 -26 202 -24 225 1 26 28 24
                                        202 -1 225 -28 26 -202 24 -225 -1z m217 -33 c-8 -14 -34 -11 -34 4 0 8 3 17
                                        7 20 9 9 34 -13 27 -24z m-47 -21 c51 -48 15 -138 -56 -138 -47 0 -81 32 -81
                                        79 0 72 84 109 137 59z" />
                                        <path d="M282 358 c-15 -15 -15 -61 0 -76 15 -15 61 -15 76 0 7 7 12 24 12 38
                                        0 33 -17 50 -50 50 -14 0 -31 -5 -38 -12z" />
                                    </g>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="footer-block_img" version="1.0" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet">

                                    <g class="footer-g"
                                        transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)"
                                        fill="#000000" stroke="none">
                                        <path d="M351 570 c-57 -14 -84 -50 -89 -120 l-4 -60 -39 0 -39 0 0 -50 0 -50
                                    40 0 39 0 3 -112 3 -113 50 0 50 0 3 112 3 112 42 3 42 3 0 45 0 45 -43 3 -43
                                    3 3 42 c3 42 3 42 46 45 l43 3 -3 47 c-3 46 -4 47 -38 49 -19 1 -50 -2 -69 -7z" />
                                    </g>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="footer-block_img" version="1.0" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet">

                                    <g class="footer-g"
                                        transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)"
                                        fill="#000000" stroke="none">
                                        <path d="M363 510 c-25 -15 -36 -31 -45 -66 -12 -45 -13 -45 -47 -39 -43 8
                                    -99 36 -139 70 -16 14 -33 25 -36 25 -14 0 -5 -83 11 -107 17 -26 17 -27 0
                                    -20 -29 11 -21 -31 14 -65 22 -23 27 -33 18 -39 -17 -10 14 -46 51 -61 25 -10
                                    25 -10 -15 -29 -22 -10 -56 -19 -75 -20 l-35 -1 45 -21 c56 -27 175 -29 233
                                    -3 88 39 177 162 177 245 0 24 8 44 27 63 26 27 26 28 5 28 -21 0 -22 1 -6 24
                                    l16 25 -30 -11 c-24 -9 -36 -8 -65 5 -45 22 -65 21 -104 -3z" />
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="footer-block1">
                        <h2>Відділи</h2>
                        <nav>
                            <nav>
                                <ul>
                                    <li>
                                        <h4>Початок</h4>
                                    </li>
                                    <li>
                                        <h4>Про нас</h4>
                                    </li>
                                    <li>
                                        <h4>Каталог</h4>
                                    </li>
                                    <li>
                                        <h4>Замовлення</h4>
                                    </li>
                                    <li>
                                        <h4>Відгуки</h4>
                                    </li>
                                </ul>
                            </nav>
                        </nav>

                    </div>
                    <div class="footer-line">

                    </div>
                    <div class="footer-text">
                        <h2>Є запитання?</h2>
                        <div class="footer-text__block">
                            <input type="email" placeholder="Ваша пошта">
                            <img style="width: 17px;" src="img/arrow-sender.svg" alt="">
                        </div>
                        <div class="footer-text__border"></div>
                        <div class="footer-text-contact">
                            <nav>
                                <ul>
                                    <li class="footer-contact__lit"><img src="img/phone.svg" alt=""><a
                                            href="tel:+0 98 412 08 60">0984120860</a></li>
                                    <li class="footer-contact__lit"><img src="img/inst-b.svg" alt=""><a
                                            href="https://www.instagram.com/anna_tkachyk_/">anna_tkachyk_</a></li>
                                    <li class="footer-contact__lit"><img src="img/email.svg" alt=""><a
                                            href="tel:+0 98 412 08 60">pytulyalybomyr@gmail.com</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="js/swiper.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/acc.js"></script>
    <script src="js/scroll.js"></script>
    <script src="js/shop.js"></script>
    <script src="js/popup.js"></script>
    <script src="js/popup1.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/counter.js"></script>
    <script src="js/script.js"></script>
    <script src="js/script-cart.js"></script>

    </html>